	<footer>
		<div class="inner">
            	        <div class="support">
				<a name="support"><h2>Support</h2></a>
				<p>
					Hi, my name is Alex. I started developing of Parallax library in 2012 year. Parallax was the main library of the large web-based CAD project.
                                        Parallax was and will remain free software, which you can redistribute it and/or modify it under the terms of the Creative Commons Attribution 3.0 Unported License.
				</p>
				<p>
					We will continue development of Parallax in line with our needs in projects on which our team works and in compliance 
					with the wishes of developers who use Parallax in their projects.
				</p>
				<p>
					Since the Parallax is open source library, everyone can participate in the development of the project on <a href="http://github.com/thothbot/parallax">GitHub.com</a>.
				</p>
				<p>
	                                If you are interested in commercial support or in development of your projects using 3D libraries Parallax or three.js 
					you can contact me by email <a href="mailto:thothbot@gmail.com">thothbot@gmail.com</a>. 
				</p>

			</div>
			<div class="links">
				<h2><a href="/">parallax3d.org</a></h2>
                		<dl>
		                    <dt>Parallax</dt>
                		    <dd><a href="http://github.com/thothbot/parallax/wiki/Download">Download</a></dd>
		                    <dd><a href="http://github.com/thothbot/parallax/wiki">Documentation</a></dd>
		                    <dd><a href="http://thothbot.github.com/parallax/docs/index.html">API Reference</a></dd>
                		</dl>
		                <dl>
                		    <dt>Contribute</dt>
		                    <dd><a href="http://github.com/thothbot/parallax">Source code</a></dd>
			            <dd><a href="http://github.com/thothbot/parallax/pulls">Pull Requests</a></dd>
		                    <dd><a href="http://github.com/thothbot/parallax/issues">Bug Tracker</a></dd>
                		</dl>
		                <dl>
                		    <dt>Links</dt>
		                    <dd><a href="http://thothbot.github.com/parallax/demo/index.html">Parallax Demo</a></dd>
		                    <dd><a href="http://www.khronos.org/registry/webgl/specs/latest/">WebGL Specification</a></dd>
		                    <dd><a href="http://www.khronos.org/webgl/wiki/Main_Page">WebGL Wiki</a></dd>
		                </dl>
	            </div>
        	    <div class="copy">
		            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
			    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Parallax</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
	   	    </div>
		</div>
	</footer>

