<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="description" content="Parallax is a high-productivity Google Web Toolkit 3D library that integrates the components and APIs you need for modern 3D web application content." />
	<meta name="keywords" content="Parallax, three.js, WebGL, GWT, Google Web Toolkit 3D library, thothbot" />
	<script type="text/javascript" src="site/site.nocache.js"></script>
	<link rel="stylesheet" media="screen" href="static/css/main.css" />
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35732509-1']);
	  _gaq.push(['_trackPageview']);


	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>

