---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/layout/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import ProjectGeneEase from '../components/sections/ProjectGeneEase.astro';
import ProjectOrbESG from '../components/sections/ProjectOrbESG.astro';
import ProjectParallax from '../components/sections/ProjectParallax.astro';
---

<Layout title="thothbot - Software Architect">
  <main>
    <Hero />
    <ProjectGeneEase />
    <ProjectOrbESG />
    <ProjectParallax />
  </main>

  <Footer />
</Layout>
